.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;

}
.logo{
    height: 3.3vh;
    object-fit: contain;
    margin-left: 3vw;
}

.headersearch{
    display: flex;
    border: 1px solid black;
    align-items: center;
    width: 40%;
}
.headersearch input{
    flex: 1;
    border: none;
}

.header_inputbutton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: gray;
}

.headericons{
    display: flex;
    align-items: center;
}

.header_icon{
    margin-right: 10px;
}